/* reset */
:root {
    --Orange: #ffae00;
    --pale-lilac: #e2d4eead;
    --lilac: #c37ae0;
    --violet: #482c53;
    --black: #000000;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

header {
    font-family: 'Nerko One';
}

a {
    color: currentColor;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 15px 0px;
}


img {
    max-width: 100%;
}

body {
    background-color: var(--pale-lilac);
}




/* header */

.main-header {
    background-color: var(--white);
    width: 100%;
}

.logo {
    font-size: 25px;
    color: var(--Orange);
    text-shadow: 2px 2px 2px #8b8b8b;
}


/* hero */
.hero {
    max-width: 100%;
}

.conatiner {

    max-width: 100%;
    margin: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.recipe-video {
    width: 70%;
}

.recipe-info {
    width: 30%;
    font-size: 10px;
    background-color: var(--white);
    padding: 30px 15px;
    box-shadow: 2px 2px 2px #a0a0a07c;
}

.recipe {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

}

.recipe-title {
    color: var(--violet);
    font-size: 30px;
}

.recipe-title-mobile {
    color: var(--violet);
}

.recipe-title-sm {
    color: var(--violet);
    font-size: 10px;
    filter: opacity(50%);
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    width: 100%;
    
}

/* social */

.social-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.btn {
    background-color: var(--white);
    color: var(--black);
    border-radius: 999px;
    text-align: center;
    padding: 10px 30px;
}




/* media queries */

/* desktop */
@media (min-width: 992.99px) {
    .recipe-title-mobile {
        display: none;
    }
}

/* tablet */

@media (max-width: 991.99px) {

    
    .recipe-title-mobile {
        display: none;
    }

    .recipe {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .recipe-video {
        width: 100%;
    }

    .recipe-info  {
        width: 100%;
        font-size: 15px;
       
    }

    .menu {
        font-size: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 80px;
    }

    






}


/* mobile */


@media (max-width:767.99px) {

    .main-header {
        text-align: center;
    }

    .recipe {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }


    .recipe-video {
        width: 100%;
    }

    .recipe-info {
        width: 100%;
    }



    .recipe-title {
        display: none;
    }

    .recipe-title-mobile {
        display: contents;
    }

    
    .menu {
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0px;
    }

}